.solution-slider {

  &__item {
    max-width: 286px;
    border: 1px solid #D7D7D7;
    opacity: 0.6;
    transition: box-shadow ease-in .2s, opacity ease-in .2s;
    height: -webkit-fill-available;
    min-height: 487px;

    &:hover {
      opacity: 1;
      border: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      box-shadow: 8px 8px 11px 0px rgba(40, 55, 85, 0.17);
    }
  }

  &__item-img {
    width: 100%;
  }

  &__item-inner-container {
    padding: 14px;
    min-height: 268px;
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    display: block;
    font-family: 'Lato', sans-serif;
    color: #081A3D;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 52px;
  }

  &__item-text {
    color: #3E4145;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    flex: 1;
  }

  &__item-link {
    color: #081A3D;
    font-size: 15px;
    font-weight: 500;
  }

  &__bottom{
    margin-top: 50px;
  }
}