.header {

  &_opacity-bg {
    width: 100%;
    position: absolute;
    z-index: 3;

    .header__link {
      color: white;
    }

    .header__search,
    .header__burger-box {
      background-color: transparent;
    }

    .header__burger-line,
    .header__burger-line::before,
    .header__burger-line::after {
      background-color: white;
    }
  }

  &__wrapper {
    max-width: 1600px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__logo {
    max-width: 160px;

    img {
      width: 100%;
    }
  }

  &__nav {
    max-width: 780px;
    padding: 0 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  &__link-box {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__link {
    color: #081A3D;
    font-size: 16px;
    font-weight: 500;

    img {
      margin-left: 15px;
    }
  }

  &__menu {
    display: flex;
  }


  &__burger-box {
    cursor: pointer;
    background-color: #081A3D;
    width: 50px;
    height: 44px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__burger-line {
    position: relative;
    width: 28px;
    height: 3px;
    background-color: white;
  }

  &__burger-line::before,
  &__burger-line::after {
    position: absolute;
    content: '';
    background-color: white;
    width: 28px;
    height: 3px;
    top: -6px;
    border-radius: 8px;
  }

  &__burger-line::after {
    bottom: -6px;
    top: auto;
  }

  @include tablet {
    &__wrapper {
      padding: 0 15px;
    }

    &__nav {
      display: none;
    }

    &__link {
      display: none;
    }
  }

  @include mobile{
  &__wrapper {
      height: 70px;
      padding: 0 15px;
    }
  
  
  
    &__search {
      display: none;
    }
  
    &__logo {
      max-width: 120px;
  
      img {
        width: 100%;
      }
    }
  
    &__burger-box {
      width: 36px;
      height: 34px;
    }
  
    &__burger-line,
    &__burger-line::after,
    &__burger-line::before {
      width: 22px;
      height: 2px;
    }
  
  }
}

.header-designs:hover {
  .drop-down-designs {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}

.header-projects:hover {
  .drop-down-projects {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}

.header-gallery:hover {
  .drop-down-gallery {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}

.header-a-tent:hover {
  .drop-down-a-tent {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}


