.contacts-page {
    position: relative;
    background-image: url(../img/contact/contact-page-bg.png);
    background-repeat: no-repeat;


    &__grey-line {
        position: absolute;
        width: 100%;
        top: 0;
        min-height: 250px;
        background-color: #F4F4F4;
        z-index: -1;
    }

    &__title {
        font-size: 50px;
    }

    &__top {
        grid-column: 7 span;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        min-width: 690px;
    }

    &__inner-box {
        display: flex;
        flex-direction: column;
        position: relative;

        &:not(:last-child)::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 1px;
            right: -38px;
            background-color: rgba(62, 65, 69, 0.50);
        }
    }

    &__inner-box-title {
        display: block;
        font-size: 22px;
        font-weight: 600;
        line-height: 118%;
        color: $color-text;
    }

    &__inner-box-link {
        display: block;
        font-size: 18px;
        color: $color-text;
        font-weight: 400;
        line-height: 133%;
        margin-top: 10px;
    }

    @include tablet {
        &__grey-line {
            min-height: 370px;
        }

        &__top {
            grid-column: 12 span;
        }


        &__container {
            flex-direction: column;
        }

        &__inner-box {
            &:not(:last-child) {
                margin-bottom: 20px;

                &::after {
                    display: none;
                }
            }
        }
    }

    @include mobile {
        background-image: none;

        &__grey-line {
            min-height: 350px;
        }

        &__inner-box-title {
            font-size: 20px;
        }

        &__inner-box-link {
            font-size: 16px;
        }
    }
}