.footer {
  background-color: $color-dark-blue;
  font-size: 16px;

  &__wrapper {
    padding: 44px 30px;
  }

  &__link {
    display: block;
    max-width: 300px;
    margin-bottom: 10px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);

    &_white {
      color: white;
      margin-bottom: 17px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    flex: 1;
    grid-column: 9 span;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;

    &_margin-30 {
      margin-bottom: 28px;
    }

    &_size-16 {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__designs-box {
    display: flex;
  }

  &__nav-bottom {
    display: flex;
    margin-top: 20px;
  }

  &__contacts-item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: white;

    img {
      margin-right: 15px;
    }
  }

  &__block {
    max-width: 320px;
    margin-right: 26px;
    flex: 1;

    &_width-160 {
      max-width: 160px;
    }
  }

  &__solutions {
    font-size: 16px;
    margin-top: 25px;
  }

  &__politics {
    display: flex;
    max-width: 600px;
    font-size: 14px;
    color: white;
    margin-top: 16px;
    justify-content: space-between;
    padding-bottom: 38px;
  }

  &__politics-link {
    color: white;
    display: block;

    img {
      width: 6px;
      margin-left: 10px;
    }
  }

  &__year {
    font-size: 14px;
    color: white;
  }

  &__developer-link {
    font-size: 14px;
    color: white;
    margin-left: 5px;

    &:hover {
      color: $color-blue;
    }
  }

  &__contacts {
    position: relative;
    grid-column: 3 span;
    left: 11%;

    &:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.70);
      left: -16%;

    }
  }

  &__contacts-item {
    &:hover {
      text-decoration: underline;
    }
  }

  &__contacts-secondary {
    display: flex;
    position: absolute;
    bottom: 40px;
  }

  &__contacts-secondary-link {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    .wrapper {
      flex-direction: column;
    }

    .wrapper::before {
      display: none;
    }

    &__designs-box {
      justify-content: space-between;

      a {
        max-width: none;
      }
    }

    &__designs-block:nth-child(3) {
      max-width: none;
    }

    &__nav-bottom {
      max-width: none;
      justify-content: space-between;
    }

    &__gallery {
      max-width: 135px;
    }

    &__a-tent {
      max-width: 280px;
      flex: 1;
    }

    &__politics {
      position: absolute;
      bottom: 25px;
      font-size: 14px;
    }

    &__contacts {
      margin-top: 50px;
      padding-bottom: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .wrapper {
      padding: 25px 15px;
    }

    &__designs-block {
      display: none;
    }

    &__title {
      margin-bottom: 5px;
      line-height: 24px;
      font-size: 14px;
    }

    &__nav-bottom {
      flex-direction: column;
      margin: 0;
    }

    &__solutions {
      display: block !important;
      color: white !important;
      margin-top: 0;
    }

    &__projects,
    &__gallery,
    &__a-tent {
      a:not(:first-child) {
        display: none;
      }

      a {
        margin-bottom: 5px;
      }
    }

    &__contacts {
      position: relative;
      padding-bottom: 90px;
      margin-top: 30px;

      img {
        display: none;
      }

    }

    &__contacts::before {
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.45);
      bottom: 85px;
    }

    &__contacts-item {
      font-size: 14px;
      padding-bottom: 10px;
    }


    &__contacts-secondary {
      display: none;
    }

    &__politics {
      flex-direction: column;
      font-size: 13px;

      a {
        margin-bottom: 10px;

        img {
          width: 7px;
        }
      }

      span:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}