.footer {
  background-color: $color-dark-blue;
  font-size: 16px;

  &__wrapper {
    padding: 44px 30px;
  }

  &__link {
    display: block;
    max-width: 300px;
    margin-bottom: 10px;
    line-height: 1.18em;
    color: rgba(255, 255, 255, 0.6);

    &_white {
      color: white;
      margin-bottom: 17px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    flex: 1;
    grid-column: 9 span;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;

    &_margin {
      margin-bottom: 28px;
    }

    &_size-16 {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__designs-box {
    display: flex;
  }

  &__nav-bottom {
    display: flex;
    margin-top: 20px;
  }

  &__contacts-item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    font-size: 16px;
    color: white;

    img {
      margin-right: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__block {
    max-width: 320px;
    margin-right: 26px;
    flex: 1;

    &_width-160 {
      max-width: 160px;
    }
  }

  &__solutions {
    font-size: 16px;
    margin-top: 25px;
  }

  &__politics {
    display: flex;
    max-width: 600px;
    font-size: 14px;
    color: white;
    margin-top: 16px;
    justify-content: space-between;
    padding-bottom: 38px;
  }

  &__politics-link {
    color: white;
    display: block;

    img {
      width: 6px;
      margin-left: 10px;
    }
  }

  &__year {
    font-size: 14px;
    color: white;
  }

  &__developer-link {
    font-size: 14px;
    color: white;
    margin-left: 5px;

    &:hover {
      color: $color-blue;
    }
  }

  &__contacts {
    position: relative;
    grid-column: 3 span;
    left: 11%;

    &:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.70);
      left: -16%;

    }
  }

  &__contacts-secondary {
    display: flex;
    position: absolute;
    bottom: 40px;
  }

  &__contacts-secondary-link {
    margin-right: 25px;
  }

  @include tablet {

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__link {
      display: none;
    }

    &__nav-bottom {
      flex-direction: column;
      margin-top: 0;
    }

    &__block {
      display: flex;
      flex-direction: column;
    }

    &__title {
      &_margin {
        margin-bottom: 20px;
      }
    }

    &__solutions {
      font-size: 18px;
      margin: 0 0 20px 0;
    }

    &__politics {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-bottom: 24px;
    }

    &__contacts {
      left: 0;
      margin-top: 10px;
      padding-bottom: 90px;
    }

    &__contacts-secondary {
      bottom: 25px;
    }
  }

  @include mobile {

    &__wrapper {
      padding: 24px 15px;
    }

    &__title {
      font-size: 14px;
      line-height: 1.71em;
      margin-bottom: 10px;

      &_margin {
        margin-bottom: 8px;
      }
    }

    &__solutions {
      font-size: 14px;
      margin: 0 0 8px 0;
    }

    &__politics {
      flex-direction: column;
      z-index: 10;
    }

    &__politics-link {
      margin-bottom: 8px;

      img {
        display: none;
      }
    }

    &__year {
      font-size: 13px;
      margin-bottom: 8px;
    }

    &__developer-link {
      font-size: 13px;
    }

    &__contacts {
      left: 0;
      margin-top: 10px;
      padding-bottom: 145px;

      &::before{
        height: 1px;
        width: 80%;
        left: 0;
        bottom: 85px;
      }
    }

    &__contacts-item {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.14em;
      padding-bottom: 9px;
      img {
        display: none;
      }
    }

    &__contacts-secondary {
      bottom: 100px;
    }

    &__contacts-secondary-link {
      margin-right: 15px;
      img{
        width: 32px;
      }
    }
  }
}