.menu {
  position: fixed;
  top: 0;
  min-height: 800px;
  max-height: 1500px;
  width: 100%;
  background-color: rgba(246, 246, 246, 1);
  background-image: url(../img/header/menu-bg.png);
  z-index: 100;
  top: 0%;
  transition: all .5s;

  &__wrapper {
    max-width: 1520px;
    padding: 0 20px;
    margin: 35px auto 0 24.5%;
  }

  &__top {
    display: flex;
    justify-content: end;
  }

  &__search {
    position: relative;
    width: 260px;
    height: 45px;
    margin-right: 50px;
    border-radius: 40px;
    outline: none;
    border: 2px solid rgba(190, 190, 190, 1);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 15px;
    background-image: url(../img/header/menu_search.svg);
    background-repeat: no-repeat;
    background-position: 18px 8px;
    background-size: 9%;
  }

  &__close {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(190, 190, 190, 1);
    background-color: white;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 48%;
      left: 31%;
      content: "";
      background: $color-text;
      width: 18px;
      height: 2px;
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &__inner-container {
    padding: 32px;
  }

  &__block {
    border-radius: 4px;
    border: 1px solid $color-text;
    background: rgba(255, 255, 255, 0.80);
  }

  &__block-title {
    display: block;
    color: $color-text;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.44px;
    text-transform: uppercase;
  }
}