.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 40px;
  color: white;
  background-color: $color-blue;
  padding: 16px 28px;
  cursor: pointer;

  @include mobile {
    font-size: 14px;
    padding: 12px 20px;
  }
}