.about {
  background: #F6F6F6;

  &__wrapper {
    position: relative;
    padding: 65px 30px 80px 30px;
  }

  &__logo{
    position: absolute;
    top: -25px;
  }

  &__content {
    padding-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 100%;
      left: 0;
      background-color: $color-blue;
    }
  }

  &__text {
    color:  $color-text;
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
  }
}