* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  overflow-x: hidden;
}

.main-bg {
  background: url(../img/designs/designs-bg.png);
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    background: none;
  }
}

.decor-bg {
  background-color: rgba(244, 244, 244, 0.69);
  position: absolute;
  height: 820px;
  width: 100%;
  z-index: -1;
}


.ff-play {
  font-family: 'Play', sans-serif;
}

.ff-raleway {
  font-family: 'Raleway', sans-serif;
}

.ff-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ff-work-sans {
  font-family: 'Work Sans', sans-serif;
}

.ff-lato {
  font-family: 'Lato', sans-serif;
}

@import '../scss/breakpoints';
@import '../scss/vars';
@import '../scss/layout';
@import '../scss/wrapper';
@import '../scss/magnific-popup';
@import '../scss/animation';
@import '../scss/swiper-pagintaion';
@import '../html/blocks/title/title';
@import '../scss/offsets';
@import '../scss/input.scss';
@import '../scss/checkbox.scss';
@import '../html/blocks/cards/cards';
@import '../html/blocks/cards/cards-slider';
@import '../html/blocks/button/button';
@import '../html/common/cookies/cookies';
@import '../html/AJAX/form/form';
@import '../html/common/menu/menu';
@import '../html/common/header/header';
@import '../html/common/footer/footer';
@import '../html/common/dropdown/dropdown';
@import '../html/main-page/hero/hero';
@import '../html/main-page/info/info';
@import '../html/main-page/widget/widget';
@import '../html/main-page/solutions/solution-slider';
@import '../html/main-page/show-slider/show-slider';
@import '../html/main-page/director/director';
@import '../html/main-page/about/about';
@import '../html/main-page/exp/exp';
@import '../html/blocks/contacts/contacts';
@import '../html/blocks/contacts-us/contacts-us';
@import '../html/blocks/clients/clients';
@import '../html/blocks/additional/addition';
@import '../html/blocks/page-description/page-description';
@import '../html/blocks/breadcrumb/breadcrumb';
@import '../html/blocks/our-projects-slider/our-projects-slider';
@import '../html/blocks/project/project';
@import '../html/blocks/infinite-slider/infinite-slider';
@import '../html/blocks/list-with-sidebar/list-with-sidebar';
@import '../html/why-page/review/review';
@import '../html/why-page/certificates/certificates';
@import '../html/contacts-page/contacts-page';
@import '../html/contacts-page/form/form';