.title {
 font-size: 50px;
 font-weight: 600;
 margin-top: 12px;
 margin-bottom: 35px;
 line-height: 128%;


 @media screen and (max-width: 1200px) {
  font-size: 40px;
 }

 @media screen and (max-width: 768px) {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  padding-left: 15px;
 }
}