.wrapper {
  max-width: calc($grid-item * 12 + $grid-gutter);
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  &_no-padings {
    padding-left: 0;
    padding-right: 0;
  }

  &_no-margins {
    margin-left: 0;
    margin-right: 0;
  }

  @include tablet {
    padding-left: calc($grid-gutter / 2);
    padding-right: calc($grid-gutter / 2);


  }

  @include mobile {
    &_card {
      padding: 0;
    }
  }
}