.clients {

  &__title {
    max-width: 1200px;
  }

  &__wrapper {
    margin-top: 60px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
  }

  &__item {
    width: 25%;
    ;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    &:hover {
      .clients__item-wrapper {
        border: 1px solid transparent;
        box-shadow: 4px 4px 25px 0px rgba(40, 55, 85, 0.12);
      }
    }
  }

  &__item-wrapper {
    border: 1px solid #D7D7D7;
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    transition: box-shadow ease-in 0.2s;
  }

  &__item-inner {
    width: 85%;
    height: 85%;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  &__img {
    display: block;
    margin: auto;
    object-fit: contain;
  }

  @include tablet {

    &__wrapper {
      position: relative;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 9px;
        height: 20px;
        background-image: url(../img/slider/mobile-slider-arrow.png);
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        left: 2px;
        transform: translateY(-50%) rotate(180deg);
      }

      &::before {
        right: 2px;
        transform: translateY(-50%);
      }
    }

    &__item-wrapper {
      padding-bottom: 50%;
    }

    &__item-inner {
      width: 65%;
      height: 65%;
    }
  }
}