.cards {

  &_video {
    .cards__item:hover {
      box-shadow: none;
      border: 1px solid #D7D7D7;

      .cards__item-inner-container {
        padding: 14px;
      }

      .cards__img {
        opacity: .1;
      }

      .cards__play {
        opacity: 1;
      }

      .cards__title {
        text-decoration: underline;
      }
    }
  }

  &_download {
    .cards__item {
      margin-bottom: 48px;
      min-height: 348px;

      &:hover {
        box-shadow: none;
        border: 1px solid #D7D7D7;

        .cards__item-inner-container {
          padding: 14px;
        }

        .cards__img {
          opacity: .1;
        }

        .cards__download {
          opacity: 1;
        }

        .cards__title {
          text-decoration: underline;
        }
      }
    }
  }

  &_news {
    .cards__item {
      border: none;

      &:hover {
        box-shadow: none;
        border: none;

        .cards__item-inner-container {
          padding: 14px;
        }

        .cards__item {
          border: none !important;
        }

        .cards__link_invisible {
          opacity: 1;
        }

        .cards__title {
          text-decoration: underline;
        }
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    border: 1px solid #D7D7D7;
    transition: box-shadow .2s;
    margin-bottom: $offset-big;
    height: auto;
    overflow-x: hidden;

    &:hover {
      border: none;
      border-bottom: 1px solid #f3f1f1;
      border-top: 1px solid #f3f1f1;
      box-shadow: 4px 4px 25px 0px rgba(40, 55, 85, 0.12);

      .cards__img {
        transform: scale(1.03);
      }

      .cards__item-inner-container {
        padding: 14px 15px;
      }
    }
  }

  &__img {
    width: 101%;
    max-height: 420px;
    object-fit: cover;
    display: block;
    transition: all .2s;



    &_max-height-256 {
      max-height: 256px;
    }
  }

  &__item-inner-container {
    display: flex;
    flex-direction: column;
    padding: 14px;

    &_min-height {
      min-height: 274px;
    }

    &_border {
      border-top: 8px solid $color-blue;
    }
  }

  &__title {
    font-family: 'Lato', sans-serif;
    display: block;
    color: #081A3D;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27em;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    margin-bottom: 30px;

    &_20px {
      font-size: 20px;
    }

    &_none-margin {
      margin-bottom: 0;
    }

    &_none-transform {
      text-transform: none;
    }
  }

  &__text {
    color: #3E4145;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.33em;
    padding-bottom: 35px;
    margin-top: 10px;

    &_hidden {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0;
    }
  }

  &__link {
    position: absolute;
    bottom: 12px;
    color: #081A3D;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 1.25em;
    width: fit-content;

    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 18px;
      background-image: url(../img/cards/card-link-arrow.svg);
      right: -20px;
      top: 1px;
      transition: ease-in .2s;
    }

    &_invisible {
      transition: ease-in .2s;
      opacity: 0
    }
  }

  &__date {
    color: $color-blue;
    display: block;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 4px;
  }

  &__img-block {
    background-color: rgba(40, 55, 85, 0.89);
    position: relative;
    overflow: hidden;
  }

  &__download {
    display: flex;
    z-index: 10;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 12px 22px;
    border-radius: 3px;
    border: 1px solid #FFF;
    color: white;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transition: ease-in .2s;

    img {
      margin-left: 11px;
    }
  }

  &__filesize {
    visibility: hidden;
  }

  &__play {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: ease-in .2s;
  }

  &__timecode {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    width: fit-content;
    color: #FFF;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    background-color: #283755;
    padding: 2px 8px;
    border-radius: 4px;
    z-index: 9;
  }

  @include tablet {
    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
      padding-bottom: 40px;
    }

    &__link {
      max-width: 190px;

      &::after {
        right: -10px;
      }
    }
  }

  @include mobile {
    &_solutions-mail {
      .cards__title {
        display: none;
      }

      .cards__text {
        display: none;
      }
    }

    &__item {
      grid-column: 12 span;
    }

    &__wrapper {
      padding: 0;
    }

    &__item-inner-container {
      &_min-height {
        min-height: 1px;
      }
    }

    &__img {
      max-height: 280px;
    }

    &__text {
      padding-bottom: 0;
    }

    &__link {
      position: relative;
      max-width: fit-content;
      bottom: 0;

      &::after {
        right: -20px;
      }

      &_invisible {
        opacity: 1;
      }
    }

    &__filesize {
      visibility: visible;
    }
  }
}